extends layout

block content
    h1= title
    p Attach message to Iota Tangle
    form(method='POST', action='/attach')
        #form-group 
            input.form-control(name="message", type='text', placeholder='enter message')
            input.btn.btn-primary(type='submit', value='Attach')
        