doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content
    br
    br
    br
    hr
    footer
      p Ryan Gadz 2018
          //- form(method='POST' action='/attach')
          //-   div.form-group
          //-     input.form-control(type='text' id='message' placeholder='message' name='message')           
          //-     input.btn.btn-primary(type='submit', value= 'Attach') 
      